@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Montserrat', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
}

.side-nav{
  width: 110px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  background: rgba(196, 182, 129, 0.712);
  backdrop-filter: blur(5px);
  transition: width 0.25s;
}

.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:60px;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.user div{
  display: none;
}
.user h2{
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;

}

.user-img{
  width:40px;
  border-radius: 50%;
  margin:auto;
}

.logo-img{
  width:80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul{
  list-style: none;
  padding: 0 15px;
}
ul li{
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
ul li img{
  width: 30px;
  margin-right: 0px;
}
ul li p{
  white-space: nowrap;
  display: none;
}

.side-nav:hover{
  width: 225px;
}

.side-nav:hover .user div{
  display: block;
}

.side-nav:hover .user{
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.side-nav:hover .user-img{
  margin: 0%;
}
.side-nav:hover .logo-img{
  margin: 0%;
}

.side-nav:hover ul li p{
  display: block;
}

.side-nav:hover ul li img{
  margin-right: 10px;
}

.side-nav:hover ul li{
  justify-content: flex-start;
}


body{
  width: 100%;
  height: 100vh;
  background-image: url('../AdminDash_images/DashBackground.png');
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding:25px 20px;
}

.heading{
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 175px;
  margin-top: 10px;
  color:rgb(255, 255, 255);
}

.container .box-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
}

.container .box-container .box{
  background-color: #fff;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3), 
.container .box-container .box:nth-child(4){
  display: inline-block;
}

.container .box-container .box .content h3{
  font-size: 20px;
  color:#334;
}

.container .box-container .box .content p{
  font-size: 15px;
  color:#777;
  line-height: 2;
  padding:5 px 0;
}

.container .box-container .box .content .btn{
  display: inline-block;
  padding:10px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
}

.container .box-container .box .content .btn:hover{
  background-color: rgb(4, 57, 39);
  border-color: rgb(4, 57, 39);
  color:#fff;
}


#load-more{
  margin-top: 20px;
  display: inline-block;
  padding:13px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover{
  background-color: rgb(4, 57, 39);
  border-color: rgb(4, 57, 39);
  color:#fff;
}

@media (max-width:450px){

  .container .heading{
    font-size: 25px;
  }

  .container .box-container{
    grid-template-columns: 1fr;
  }


  .container .box-container .box .content p{
    font-size: 12px;
  }
}

.solid {
  background-color: rgb(4, 57, 39);
  border-width: 80%;
  height: 7px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Broswe Events Boxes*/


.container .box-container .box2{
  background-color: #fff;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  display: none;
}

.container .box-container .box2:nth-child(1),
.container .box-container .box2:nth-child(2),
.container .box-container .box2:nth-child(3), 
.container .box-container .box2:nth-child(4){
  display: inline-block;
}

.container .box-container .box2 .content h3{
  font-size: 20px;
  color:#334;
}

.container .box-container .box2 .content p{
  font-size: 15px;
  color:#777;
  line-height: 2;
  padding:5 px 0;
}

.container .box-container .box2 .content .btn{
  display: inline-block;
  padding:10px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
}

.container .box-container .box2 .content .btn:hover{
  background-color: rgb(4, 57, 39);
  border-color: rgb(4, 57, 39);
  color:#fff;
}


#load-more{
  margin-top: 20px;
  display: inline-block;
  padding:13px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover{
  background-color: rgb(4, 57, 39);
  border-color: rgb(4, 57, 39);
  color:#fff;
}

#load-more2{
  margin-top: 20px;
  display: inline-block;
  padding:13px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more2:hover{
  background-color: rgb(4, 57, 39);
  border-color: rgb(4, 57, 39);
  color:#fff;
}

@media (max-width:450px){

  .container .heading{
    font-size: 25px;
  }

  .container .box-container{
    grid-template-columns: 1fr;
  }


  .container .box-container .box2 .content p{
    font-size: 12px;
  }
}

.center-container {
  text-align: center;
}

.create-event-btn {
  background-color: rgb(4, 57, 39); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.create-event-btn:hover {
  background-color: rgb(4, 57, 39);; /* Darker Green */
}