<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>View Profile</title>
<link rel="stylesheet" href="Profile_css/style.css">
</head>
<body>

<div class="side-nav">
    <!-- Sidebar content -->
    <div class="user">
        <a href="profile.html"><img src="AdminDash_images/ProfilePic.png" class="user-img"></a>
        <div>
            <h2>Dylan Prosser</h2>
            <p>dprosser@csus.edu</p>
        </div>
    </div>
    <ul>
        <li><a href="AdminDashboard.html"><img src="AdminDash_images/DashBoard.png"></a><p>Dashboard</p></li>
        <li><a href="messages.html"><img src="AdminDash_images/Mail.png"></a><p>Messages</p></li>
        <li><a href="time_sheet.html"><img src = "AdminDash_images/TimeSheet.png"></a><p>Timesheet</p></li>
        <li><a href="AccountSettings.html"><img src="AdminDash_images/settings.png"></a><p>Settings</p></li>
    </ul>

    <ul>
        <div class="logo">
            <li><img src="Profile_images/Project4Logo.png" class="logo-img"></li>
        </div>
    </ul>
</div>

<div class="content">
    
    <div class="profile-info">
        <div class="profile-info">
            <div class="profile-image">
                <img src="Profile_images/ProfilePic.png" alt="Profile Picture">
            </div>
            <div class="profile-details">
                
                <h2 class="label username">Username</h2>
                <div class="detail-box">    
                    <p>dprosser</p>
                </div>

                <h2 class="label name">Name</h2>
                <div class="detail-box">  
                    <p>Dylan Prosser</p>
                </div>
                
                <h2 class="label contact">Contact</h2>
                <div class="detail-box">    
                    <p>dprosser@csus.edu</p>
                </div>

            </div>
        </div>
        
        
    </div>
</div>

</body>
</html>
