<!Doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <title>Project VMS Create Account</title>     
        <link rel="stylesheet" type="text/css" href="Signup_style/style.css">
        
    </head>

    <body>
        
        <div class="wrapper">
            <form class="form" id="signup">
                <h1>Create Account</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" required>           
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Confirm Password" required>
                </div>
                <!--<button type="submit" class="btn">Sign Up</button>-->
                
                <!--this is just for demonstration purposes-->
                <a href="VolunteerDashboard.html" class="btn">Sign Up</a>

                <div class="loginlink">
                    <a href="login.html">Return to Login</a>
                </div>             
            </form>
        </div>  
        <script src="Signup_scripts/signup.js"></script>
    </body>
</html>