<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <title>VMS Chat Box</title>     
    <link rel="stylesheet" type="text/css" href="style/style.css">


</head>
<body>

<header class="banner">
        Chat Box
</header>

<div class="side-nav">
    <div class="user">
       <img src="TimeSheet_images/ProfilePic.png" class="user-img">
       <div>
          <h2>Dylan Prosser</h2>
          <p>dprosser@csus.edu</p>
       </div>
   </div>
   <ul>
     <li><a href="VolunteerDashboard.html"><img src="AdminDash_images/DashBoard.png"></a><p>Dashboard</p></li>
     <li><a href="VolunteerMessages.html"><img src="AdminDash_images/Mail.png"></a><p>Messages</p></li>
     <li><a href="Volunteer_AccountSettings.html"><img src="AdminDash_images/settings.png"></a><p>Settings</p></li>
 </ul>
 
   <ul>
       <div class="logo">
           <li><img src="TimeSheet_images/Project4Logo.png" class="logo-img"></li>
       </div>
   </ul>
 </div>

<table id="editableTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Messages</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td contenteditable="true">Admin Guy</td>
            <td contenteditable="true">Hi, I'm not available today</td>
        </tr>
        <tr>
            <td contenteditable="true">Angelina Jolie</td>
            <td contenteditable="true">Is the 5k run canceled?</td>
        </tr>
        <tr>
            <td contenteditable="true">Luke Wood</td>
            <td contenteditable="true">No, it's not! </td>
        </tr>
    </tbody>
</table>

<button class ="more-messages" onclick="addRow()">more messages</button>
<script src="scripts/chat_box.js"></script>
</body>
</html>